@using RunTracker.Models

@code {
    [Parameter]
    public required Run Run { get; set; }

    [Parameter]
    public required bool IsFriend { get; set; }

    protected override void OnInitialized() {
        if (IsFriend) {
        }
    }
}

<div class="content-card run-entry">
    @if (!IsFriend) {
        <div class="entry-actions">
            <a href="/edit/@Run.Id" class="run-entry-edit"><Icon Name="IconName.PencilSquare"/></a>
            <a href="/delete/@Run.Id" class="run-entry-delete"><Icon Name="IconName.X"/></a>
        </div>
    }
    <div class="entry-section">
        <p class="entry-title"><strong>@Run.Label</strong></p>
    </div>
    <div class="entry-section">
        <div class="entry-date">
            <Icon Name="IconName.Calendar"/>
            <p class="content-card-detail">@Run.Date.ToString("MM/dd/yyyy")</p>
        </div>
        <div class="entry-mileage">
            <Icon Name="IconName.Map"/>
            <p class="content-card-detail">@Run.Mileage mi</p>
        </div>
        <div class="entry-duration">
            <Icon Name="IconName.Clock"/>
            <p class="content-card-detail">@Run.Duration</p>
        </div>
        <div class="entry-pace">
            <Icon Name="IconName.Speedometer"/>
            <p class="content-card-detail">@Run.Pace(Run)</p>
        </div>
    </div>
</div>