@page "/"
@using RunTracker.Models

<PageTitle>Home</PageTitle>
<div class="page-content">    
     <div class="content-card">
        <p class="content-card-title">My Running Stats</p>

        <div class="stats-container">
            <div class="stat-box">
                <p class="stat-header">Avg Pace</p>
                <p class="stat-detail">@_averagePace</p>
            </div>

            <div class="stat-box">
                <p class="stat-header">Avg Distance</p>
                <p class="stat-detail">@_averageDistance.ToString("N2") mi</p>
            </div>

            <div class="stat-box">
                <p class="stat-header">Top Pace</p>
                <p class="stat-detail">@_topPace</p>
            </div>

            <div class="stat-box">
                <p class="stat-header">Top Distance</p>
                <p class="stat-detail">@_topDistance.ToString("N2") mi</p>
            </div>
        </div>
    </div>

    <div class="content-card run-entry">
        <a href="/add" class="create-entry-link">
            <div class="create-entry-button">
                <p>Enter new run</p>
                <Icon Name="IconName.PlusCircle"/>
            </div>
            
        </a>
    </div>

    @foreach (Run run in _runList ?? []) {
        <RunCard Run="@run"/>
    }
    
</div>
